<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>   
    <add name="SqlConnection" connectionString="Data Source=WANG;Initial Catalog=DrivingExam;Uid=sa;Pwd=123" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="testPath" value="/testPath/"/>
    <add key="LogPath" value="/LogPath/"/>
    <add key="errorLogPath" value="/errorLogPath/"/>
    <add key="serialPath" value="/serialPath/"/>
    <add key="imagePath" value="/images/"/>
  </appSettings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
  

</configuration>
